dist/
cabal.sandbox.config
.cabal-sandbox
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
Main
/plot1.dat
/plot2.dat
/plot3.dat
/plot4.dat
/plot5.dat
*~
*.mexmaci64
*.mexa64
*.autosave
*.original
slprj
